/* Set up height, bg color, font color, and font family */
body {
    background-image: url(https://i.pinimg.com/originals/80/42/d5/8042d5b86ee7015157cab06b14c80e42.gif);
    background-size: contain;
    height: 100%;
    background-color:#F5F5F5;
    color:#3AAFA9;
    font-family: Montserrat;
}

/* To make texts in navbar centered, adjust font color, weight, and size */
.navbar a {
    display: inline-block;
    font-weight: 900;
    font-size: large;
    color:#3AAFA9;
}

/* Background for navbar and containers */
.navbar-custom, footer, .about-me, .interests .text, .bio, .right {
    background-color:#F4E4C1;
}

.left {
    background-color: #3AAFA9;
}

.left h2 {
    color: #F4E4C1 !important;
}

/* Adjust font size and margin for brand name */
.website-name {
    font-size: x-large;
    margin-left: 5px;
}

/* Kasih gap antar tombol */
.nav-link {
    margin-left: 15px !important;
}

/* Kalo mouse diarahin ke tombol nanti ganti warna */
nav a:hover {
    transition: 0.4s;
    color: white !important;
}

/* Acts as an indicator for current page visited */
.index, .profile, .gallery {
    text-decoration: line-through;
}

/* Footer settings */
footer p {
    font-weight: bold;
    font-size: 0.8em;
    margin-top: calc(20px - 0.5em);
    height: auto;
    width: 100%;
    color:#3AAFA9;
    text-align: center;
}

/* Align and font-weight for Hello! */
h1.title, .download p {
    text-align: center;
    font-weight: 900;
}

/* Align introduction text */
.introduction p {
    text-align: center;
}

/* Align about me text */
.about-me p {
    text-align: left;
}

/* Align about me and interests title + adjust font weight */
.content h2 {
    text-align: left;
    font-weight: bold;
}

.bio h2 {
    padding-top: 4%;
    text-align: center;
    font-weight: bold;
}

/* Adjust bg image size to fit window width */
.bg-image img {
    width: 100%;
}

.gallery-image {
    padding: 0;
    position: relative;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color:#F4E4C1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    text-align: center;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 1.75em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.collage {
    width: 80%;
}

/* Remove padding for col */
.picture, .medsos {
    padding: 0;
}

/* Atur ukuran lebar gambar supaya sama spt lebar col */
.picture img {
    width: 100%;
    height: auto;
}

.medsos img:hover, .download img:hover {
    transform: scale(1.3);
    transition: 0.2s;
}

.checked:hover {
    transform: scale(1.7);
    transition: 0.2s;
}

.my-pic img {
    width: 80%;
    height: auto;
}

.my-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.checked {
    color: orange;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Kasih padding dikit biar ga terlalu nempel ke kiri dan atas */
.text {
    padding-top: 3%;
    padding-left: 4%;
}

/* supaya centered di dalem col-nya */
.medsos img, .download img {
    margin: auto;    
    display: block;
}

/* biar nempel di bawah footer-nya */
#sticky-footer {
    flex-shrink: none;
}

.content {
    max-width: 75%;
}

.skills p {
    font-weight: bold;
}

@media only screen and (min-width: 1001px) {
    .introduction, .top, .download {
        max-width: 40%;
    }
    .medsos {
        max-width: 62%;
    }
    .section p {
        font-size: 2.3vw;
    }
    h1.title {
        font-size: 7vw;
    }
    .text h2 {
        font-size: 4vw;
    }
    .medsos img, .download img {
        height: 6vw;
        width: 6vw;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
    .introduction, .top, .download {
        max-width: 50%;
    }
    .medsos {
        max-width: 59%;
    }
    .section p {
        font-size: 2.6vw;
    }
    h1.title {
        font-size: 7.5vw;
    }
    .text h2 {
        font-size: 4.5vw;
    }
    .medsos img, .download img {
        height: 7vw;
        width: 7vw;
    }
    .image__title {
        font-size: 1.5em;
    }
    .image__description {
        font-size: 1em;
    }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
    .introduction, .top, .download {
        max-width: 60%;
    }
    .medsos {
        max-width: 56%;
    }
    .section p {
        font-size: 2.9vw;
    }
    h1.title {
        font-size: 8vw;
    }
    .text h2 {
        font-size: 5vw;
    }
    .medsos img, .download img {
        height: 8vw;
        width: 8vw;
    }
    .image__title {
        font-size: 1.35em;
    }
    .image__description {
        font-size: 0.85em;
    }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
    .introduction, .top, .download {
        max-width: 70%;
    }
    .medsos {
        max-width: 53%;
    }
    h1.title {
        font-size: 8.5vw;
    }
    .text h2 {
        font-size: 5.5vw;
    }
    .medsos img, .download img {
        height: 9vw;
        width: 9vw;
    }
    .image__title {
        font-size: 1em;
    }
    .image__description {
        font-size: 0.70em;
    }
}

@media only screen and (max-width: 400px) {
    /* used by both introduction and content */
    .section {
        max-width: 80%;
    }
    .medsos {
        max-width: 50%;
    }
    h1.title {
        font-size: 9vw;
    }
    .text h2 {
        font-size: 6vw;
    }
    .medsos img, .download img {
        height: 10vw;
        width: 10vw;
    }
}

@media only screen and (max-width: 767px) {
    .section p {
        font-size: 4.5vw !important;
    }
}

@media only screen and (max-width: 575px) {
    .image__title {
        font-size: 1.75em !important;
    }
    
    .image__description {
        font-size: 1.25em !important;
    }
}